<html>
	<body>
		pour comfirmer votre inscription cliquer sur le lien suivant : <a href="{{"http://"~app.request.server.get("SERVER_NAME")~"/accountValidation/"~token}}">{{"http://"~app.request.server.get("SERVER_NAME")~"/accountValidation/"~token}}</a>
	</body>
</html>