<html>
	<body>
		click in this link for confirm you registration : <a href="{{"http://"~app.request.httpHost~"/accountValidation/"~token}}">{{"http://"~app.request.httpHost~"/accountValidation/"~token}}</a>
	</body>
</html>
